# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.wasm

# Jupyter
.ipynb_checkpoints/

# Default names for Jupyter notebooks
Untitled*.ipynb

# Python
__pycache__/

# Build directory
build/

bld

# LLM Implementation
*_api_key.txt
*_chat_history.txt
